<%- include('templates/header.ejs') -%>
    <h1>The Solar System</h1>
    
    
    
    <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          
        <%- include('templates/card.ejs', {imgSrc:"img/mercury.jpg", name:"Murcury", page:"/mercury"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/venus.jpg", name:"Venus", page:"/venus"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/earth.jpg", name:"Earth", page:"/earth"}) -%>
        
        <%- include('templates/card.ejs', {imgSrc:"img/mars.jpg", name:"Mars", page:"/mars"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/jupiter.png", name:"Jupiter", page:"/jupiter"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/saturn.jpg", name:"Saturn", page:"/saturn"}) -%>
        
        <%- include('templates/card.ejs', {imgSrc:"img/uranus.jpg", name:"Uranus", page:"/uranus"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/neptune.jpg", name:"Neptune", page:"/neptune"}) -%>
        <%- include('templates/card.ejs', {imgSrc:"img/pluto.jpeg", name:"Pluto", page:"/pluto"}) -%>
        
      </div>
    </div>
  </div>
  
<%- include('templates/footer.ejs') -%>
